[Desktop Entry]
Type=Application
Categories=Utility;
Exec=koffeebreak
Icon=koffeebreak
Terminal=false

Name=KoffeeBreak
Name[uk]=Кавоперерва
Name[de]=Kaffee Pause

GenericName=KDE application for keeping breaks
